# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.idea/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
get_started_examples/rasa_core_demo/models/current/nlu/checkpoint
*.log
get_started_examples/rasa-demo/
frontend/rasa-webchat/
official_examples/restaurantbot/models/
*/projects/
*.pyc
*.xml
.idea/workspace.xml
*.xml
*.log
*.log
.idea/misc.xml
.idea/vcs.xml
